.change-lang-wrapper{
    position: fixed;
    z-index: 1000;
    right: 4rem;
    bottom: 2rem;
    .change-lang-icon{
        position: relative;
        height: 4rem;
        width: 4rem;
        background-color: transparent;
        background-image: url('../../../assets/icons/icon-translate.svg');
        .change-lang-btn {
            position: absolute;
            left: calc(50% - 0.5rem);
            top: calc(-50% + 0.5rem);
            background-color: transparent;
            color: #C822FF;
            text-align: center;

            // $positions: 1, 2, 3;
            // @each $position in $positions {
            //     &:nth-of-type(#{$position}) {
            //         transform: rotate(#{($position - 1) * 45}deg);
            //         transform-origin: 0.3rem 4.4em;
            //         animation: rotateAnimation#{($position - 1) * 45} 0.5s linear forwards;
            //     }
            // }

            &:nth-of-type(1) {
                transform: rotate(0);
                transform-origin: 0.3rem 3.3em;
            }
            &:nth-of-type(2) {
                transform: rotate(45deg);
                transform-origin: 0.3rem 3.3em;
                animation: rotateAnimation45 0.5s linear forwards;
            }
            &:nth-of-type(3) {
                transform: rotate(90deg);
                transform-origin: 0.3rem 3.3em;
                animation: rotateAnimation90 0.5s linear forwards;
            }
            &:nth-of-type(4) {
                transform: rotate(135deg);
                transform-origin: 0.3rem 3.3em;
                animation: rotateAnimation135 0.5s linear forwards;
            }
        }
    }
}

@keyframes rotateAnimation45 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(45deg);
    }
}

@keyframes rotateAnimation90 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(90deg);
    }
}

@keyframes rotateAnimation135 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(135deg);
    }
}

