<div class="change-lang-wrapper">
    <button aria-label="Change language" class="change-lang-icon cursor-pointer" (click)="changeShowLangList()" >
    @if (showLangList) {
        @for (lang of langListDisplay; track lang.code; let index = $index) {
            <button
                class="change-lang-btn cursor-pointer"
                appClickStopPropagation
                (click)="changeLang(lang.code)"
                (tabindex)="index">
                {{ lang.name }}
            </button>
        }
    }
    </button>
</div>
