.gallery-wrapper {
    position: relative;
    height: 480px;
    width: 100%;
    min-width: 1300px;
    background: linear-gradient(#54001F, #46001A, #380015);
    overflow-x: scroll;
    &::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1.3);
        border-radius: 10px;
        background-color: #380015;
    }

    &::-webkit-scrollbar
    {
        width: 12px;
        background-color: #380015;
    }

    &::-webkit-scrollbar-thumb
    {
        opacity: 0;
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1.3);
        background-color: transparent;
        &:hover {
            opacity: 1;
            background-color: #555;
        }
    }
}
.slider {
    position: absolute;
    top: 50%;
    background-color: #fff;
    box-shadow: inset 0 0 2px hsla(0,0%,0%,.2),
                0 3px 1px hsla(0,0%,100%,.75),
                0 -1px 1px 2px hsla(0,0%,0%,.1);
    margin: -158px -208px;
    padding: 8px;
    width: 400px;
    height: 300px;

    .slider-item {
        box-shadow: 0 -1px 0 2px hsla(0,0%,0%,.03);
        list-style:none;
        position: absolute;
        z-index: 10;
    }

    a {
        position: absolute;
        z-index: 10;
        img{
            height: 300px;
            width: 400px;
        }
    }

    &:before {
        background-color: #22130c;
        bottom: -40px;
        box-shadow: inset 0 1px 1px 1px hsla(0,0%,100%,.2),
                    inset 0 -2px 1px hsla(0,0%,0%,.4),
                    0 5px 50px hsla(0,0%,0%,.25),
                    0 20px 20px -15px hsla(0,0%,0%,.2),
                    0 30px 20px -15px hsla(0,0%,0%,.15),
                    0 40px 20px -15px hsla(0,0%,0%,.1);
        content: '';
        left: -40px;
        position: absolute;
        right: -40px;
        top: -40px;
        z-index: 1;
    }

    &:after {
        background-color: #fff5e5;
        bottom: -24px;
        box-shadow: 0 2px 1px hsla(0,0%,100%,.2),
                    0 -1px 1px 1px hsla(0,0%,0%,.4),
                    inset 0 2px 3px 1px hsla(0,0%,0%,.2),
                    inset 0 4px 3px 1px hsla(0,0%,0%,.2),
                    inset 0 6px 3px 1px hsla(0,0%,0%,.1);
        content: '';
        left: -24px;
        position: absolute;
        right: -24px;
        top: -24px;
        z-index: 1;
    }
}

