$degrees: 45, 90, 135, 180, 225, 270, 315, 360;

@each $degree in $degrees {
    @keyframes rotateAnimation#{$degree} {
        0% {
            transform: rotate(0);
        }
        100% {
            transform: rotate(#{$degree});
        }
    }
}