$spacer: 6px;

.pa-0 {
    padding: $spacer * 0 !important;
}

.pa-1 {
    padding: $spacer * 1 !important;
}

.pa-2 {
    padding: $spacer * 2 !important;
}
.pa-3 {
    margin: $spacer * 3 !important;
}
.pa-4 {
    padding: $spacer * 4 !important;
}

.mt-0 {
    margin-top: $spacer * 0 !important;
}

.mt-1 {
    margin-top: $spacer * 1 !important;
}

.mt-2 {
    margin-top: $spacer * 2 !important;
}
.mt-3 {
    margin-top: $spacer * 3 !important;
}
.mt-4 {
    margin-top: $spacer * 4 !important;
}

.w-full {
	width: 100%;
}

.css-gallery-wrapper{
    width: 100%;
    height: calc(100% - 288px);
    padding-top: 48px;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.justify-center {
	justify-content: center;
}

.justify-start {
	justify-content: flex-start;
}

.justify-end {
	justify-content: flex-end;
}

.justify-between {
	justify-content: space-between;
}

.justify-around {
	justify-content: space-around;
}

.justify-evenly {
	justify-content: space-evenly;
}

.align-center {
	align-items: center;
}

.align-start {
	align-items: flex-start;
}
.align-end {
	align-items: flex-end;
}

.cursor-pointer {
	cursor: pointer !important;
}

.cursor-not-allowed {
	cursor: not-allowed !important;
}